@font-face {
  font-family: Vazir;
  src: url('../font/Vazir-persian-digits-overwrite.eot');
  src: url('../font/Vazir-persian-digits-overwrite.eot?#iefix') format('embedded-opentype'),
       url('../font/Vazir-persian-digits-overwrite.woff') format('woff'),
       url('../font/Vazir-persian-digits-overwrite.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../font/Vazir-Bold-persian-digits-overwrite.eot');
  src: url('../font/Vazir-Bold-persian-digits-overwrite.eot?#iefix') format('embedded-opentype'),
       url('../font/Vazir-Bold-persian-digits-overwrite.woff') format('woff'),
       url('../font/Vazir-Bold-persian-digits-overwrite.ttf') format('truetype');
  font-weight: bold;
}
html,body{ direction: rtl}
html {position: relative;min-height:100%;}
body{font:normal 20px 'Vazir', Tahoma; color: #333;background-color: #eee}
.container{background-color: #fff}
.columns, .column{min-height: 1px;}
a{text-decoration: none;color: #133179}
.payam{font-weight: bold; text-align: center;display: none}
.header{background: #3cb8c2;height: 324px;text-align: center;position: relative;}
.header .rouhani{ background: url('../img/rouhani.jpg');height: 100%;margin: 0 !important;padding: 0;background-size: cover;background-position: center;position: absolute;left: 0;top: 0;}
.header .khatami{background: url('../img/khatami.jpg');height: 100%;margin: 0 !important;padding: 0;background-size: cover;background-position: center;}
.logo{text-align: center;margin: 20px auto !important;float: none}
.logo h2{font-size: 21px; color: #133179}
.logo img{margin-bottom: 20px;margin: 0 auto}

.nav{background-color: #37a8b1;height: 50px;text-align: center;}
.nav a{color: #FFF;margin: 0 !important;text-align: center;padding: 10px 0 11px;width: 100%;display: inline-block;}
.nav a.active{background: #e6e6e6 !important;color:#333 !important}
.nav a:hover{background: #57d4de;color:#FFF;}
.nav ul{list-style: none;padding: 0;margin:0;width: 100%;max-width: 404px;display: inline-block;}
.nav li{display: inline-block;max-width: 201px;width: 50%;min-height: 50px;float: right;}
.select{background: #e6e6e6;min-height: 100px}
.select label{font-size: 25px;font-weight: normal;}
.select select{font-size: 20px;margin-top: 5px; padding: 10px 0; height: 50px;}
.inside{padding: 25px;}
#list{min-height: 94px}
.list p.khatami{font-weight: bold;}
.candidate{margin: 20px 0 !important; padding: 0}
.candidate:hover{background: #eee;}
.candidate p{display: inline;padding: 0;margin-right: 4px;}
.candidate .code:after{content: "-";margin: 0 3px}
.footer{background: #3cb8c2;padding: 15px;margin-top: 50px;z-index: -1 }
.footer .inside{padding: 0;}
.footer .inside .four.columns{text-align: center;}
.footer a{color: #fff; font-size: 16px}
.footer a:hover{color: #133179; text-decoration: underline;}
.footer2 {font-size: 10pt;text-align: center;}
a#printBtn {margin-top: 7px;opacity: 0.7}
a#printBtn:hover{opacity: 1}


.result .header{height: 160px;}
.result .list{margin: 0}
.result .chart{padding: 30px 50px 0;margin-bottom: 50px;}
.result .logo h2{margin-top: 5px}
.result .nav a{font-size: 16px; padding-bottom: 16px}
.result .second .fname{color: #aaa;}
.result .t-row{width: 10%}
.result .t-name{width: 40%}
.result .t-number{width: 20%;}
.result .t-text{width: 30%}
.result .table{display: none; font-size: 16px}
.result table caption {font-weight: bold; font-size: 18px; margin: 10px 0 20px}
.result table.colored td {border-color: #fff}
.result #omid.colored tr.chosen, .result .colored tr.omid{background-color: #3cb8c2; color:#fff;} /*green*/
.result #omid.colored tr.second, .result #second.colored tr.omid{background-color: #9ddbe0; color: #333;} /*light green*/
.result #osul.colored tr.chosen, .result .colored tr.osul{background-color: #ebdd68} /*orange*/
.result #osul.colored tr.second, .result #second.colored tr.osul{background-color: #f5eeb3} /*light orange*/
.result .colored tr.both{background-color: #74b1eb; color: #fff;} /*blue  light blue :cadeff*/
.result .colored tr.free{background-color: #ada8f6}
.result #second.colored tr.free{background-color: #d6d3fa}
.result .status{font-size: 14px;margin: -20px 0 10px;border-collapse: collapse;display: inline-block;}
.result .status .t-name{width: 50%}
.result .status .t-number{text-align: left;width: 40%}
.result .status td{display: inline-block;float: right;overflow: hidden;word-wrap: break-word;word-break: break-all;height: 31px}
.result .status tr{width: 100%; display: inline-block;}
.result .status tbody{width: 100%;display: block}
.result #statusOmid{margin-top: 44px;}
.result .ahidden{position: absolute; left: -9999999px}
.result h6{text-align: center;margin-bottom: 10px}
.chartOne,.chartThree {position: relative;}
.pie-legend {list-style: none;position: absolute;right: 50%;top: 2px;}
.chartThree .pie-legend{top: 55px;}
.pie-legend li {display: block;padding-right: 30px;position: relative;margin-bottom: 4px;border-radius: 5px;padding: 2px 30px 2px 8px;font-size: 14px;cursor: default;-webkit-transition: background-color 200ms ease-in-out;-moz-transition: background-color 200ms ease-in-out;-o-transition: background-color 200ms ease-in-out;transition: background-color 200ms ease-in-out;}
.pie-legend li:hover {background-color: #fafafa;}
.pie-legend li span {display: block;position: absolute;right: 0;top: 0;width: 20px;height: 100%;border-radius: 5px;}
#chartTwo{width: 100%;height: 500px}
.chartTwo{display: none;}
.hidden{display: none !important;}
.list{display: none};