.header, .nav, .footer{
	display:none;
}
.payam{display: block !important}
select{border:none !important;width: auto !important;display: inline !important;font-size: 20px !important;padding: 0!important;margin: 0 !important}
.khatami,label{display: none !important}
.candidate{margin: 0!important;padding: 10px !important}